body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  background: #eee;
  padding: 0 10px;
  font-family:
    Tahoma, Calibri, Helvetica, Arial, Verdana, "Times New Roman", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

ol > li {
  list-style: none;

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  div {
    margin-top: 4px;
  }
}

:focus-visible {
  outline: 9px double black;
  box-shadow: 0 0 0 6px white;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  max-height: 210px;
  max-width: 300px;
  border: 1px solid black;
}

footer {
  border-top: 1px solid #ddd;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.9rem;
  color: #444;
  background: #eee;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background: #222;
  }

  a {
    color: #bbeeee;
  }

  a:focus-visible {
    outline: 9px double white;
    box-shadow: 0 0 0 6px black;
  }

  img {
    border: 1px solid white;
  }

  footer {
    color: #eee;
    background: #222;
  }
}
